server:
  port: 9505

spring:
  application:
    # 应用名称
    name: share-stastics
  profiles:
    # 环境配置
    active: dev
  data:
    redis:
      host: localhost
      port: 6379
      password: 123456
  main:
    allow-bean-definition-overriding: true #当遇到同样名字的时候，是否允许覆盖注册
  cloud:
    nacos:
      discovery:
        # 服务注册地址
        server-addr: 127.0.0.1:8848
        namespace:  8138c0fc-3ab8-4953-a20c-5e8d39bae240
#  ai:
#    ollama:
#      base-url: http://localhost:11434
#      chat:
#        options:
#          model: deepseek-r1:1.5b
#          temperature: 0.7
